body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
.main-body{
    min-width: 95vw;
}
.table-bg{
    background-color: rgb(82, 57, 43);
}

.paper-bg{
    background-color: rgb(255, 234, 188);
}
.font-title{
    font-family: 'Fondamento', cursive;
}

.font-handwritten{
    font-family: 'Nothing You Could Do', cursive;
}

.school-abjuration{
    background-image: url(https://kwilkins.com/dnd/resources/abjuration.png);
    min-width: 90%;
    min-height: 35vh;
    background-repeat: no-repeat;
 background-position: center;
}

.school-conjuration{
    background-image: url(https://kwilkins.com/dnd/resources/conjuration.png);
    min-width: 90%;
    min-height: 30vh;
    background-repeat: no-repeat;
 background-position: center;
}

.school-divination{
    background-image: url(https://kwilkins.com/dnd/resources/divination.png);
    min-width: 90%;
    min-height: 30vh;
    background-repeat: no-repeat;
 background-position: center;
}

.school-enchantment{
    background-image: url(https://kwilkins.com/dnd/resources/enchantment.png);
    min-width: 90%;
    min-height: 30vh;
    background-repeat: no-repeat;
 background-position: center;
}

.school-evocation{
    background-image: url(https://kwilkins.com/dnd/resources/evocation.png);
    min-width: 90%;
    min-height: 30vh;
    background-repeat: no-repeat;
 background-position: center;
}

.school-illusion{
    background-image: url(https://kwilkins.com/dnd/resources/illusion.png);
    min-width: 90%;
    min-height: 30vh;
    background-repeat: no-repeat;
 background-position: center;
}

.school-necromancy{
    background-image: url(https://kwilkins.com/dnd/resources/necromancy.png);
    min-width: 90%;
    min-height: 30vh;
    background-repeat: no-repeat;
 background-position: center;
}

.school-transmutation{
    background-image: url(https://kwilkins.com/dnd/resources/transmutation.png);
    min-width: 90%;
    min-height: 30vh;
    background-repeat: no-repeat;
 background-position: center;
}